#myCarousel.swiper-container.main-slider
  .swiper-wrapper
    .swiper-slide.slider-bg-position{"data-hash" => "slide1", :style => "background:url(#{asset_url('mahkeo-245724.jpg')})"}
      %h2 Leader board
    .swiper-slide.slider-bg-position{"data-hash" => "slide2", :style => "background:url('http://grafreez.com/wp-content/temp_demos/burnout/img/3.jpg')"}
      %h2 Happiness is nothing more than good health and a bad memory
  / Add Pagination
  .swiper-pagination
  / Add Navigation
  .swiper-button-prev
    %i.fa.fa-chevron-left
  .swiper-button-next
    %i.fa.fa-chevron-right

.container
  .row
   
  #wallmessages.qa-message-list
    - @user_point.each do |key,value|
      #m16.message-item
        .message-inner
          .message-head.clearfix
            .avatar.pull-left
              %a{:href => "#"}
                %img{:src => "#{key[2]}"}/
            .user-detail
              %h5.handle @#{key[1].split("@").first}
              .post-meta
                .asker-meta
                  %span.qa-message-what
                  %span.qa-message-when
                    %span.qa-message-when-data #{value}
                  %span.qa-message-who
          //           %span.qa-message-who-data
          //             %a{:href => "./index.php?qa=user&qa_1=Oleg+Kolesnichenko"} Oleg Kolesnichenko
          // .qa-message-content
          //   Yo!
     
                    
