#fitness_points.nav-link
  - if user_signed_in? 
    %a.nav-link{ :href => "#"}
      Points
      %span.badge.badge-default #{@user_point.value}
  - else 
    %a.nav-link{ :href => "#"}
      Points
      %span.badge.badge-default 0
