%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      %i.fa.fa-fw.fa-bell-o
      Points
      %span.badgep#fitness_points "#{@user_point.value}"
    %ul.dropdown-menu{:role => "menu"}
      %li
        %a{:href => "#"}
          %i.fa.fa-fw.fa-tag
          %span.badge Music
          sayfası
          %span.badge Video
          sayfasında etiketlendi
      %li
        %a{:href => "#"}
          %i.fa.fa-fw.fa-thumbs-o-up
          %span.badge Music
          sayfasında iletiniz beğenildi
      %li
        %a{:href => "#"}
          %i.fa.fa-fw.fa-thumbs-o-up
          %span.badge Video
          sayfasında iletiniz beğenildi
      %li
        %a{:href => "#"}
          %i.fa.fa-fw.fa-thumbs-o-up
          %span.badge Game
          sayfasında iletiniz beğenildi
  %li.active
    %a{:href => "#"}
      Ana Sayfa
      %span.sr-only (current)
  %li.dropdown
    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      Admin
      %span.caret
    %ul.dropdown-menu{:role => "menu"}
      %li
        %a{:href => "#"} Geri bildirim
      %li
        %a{:href => "#"} Yardım
      %li.divider
      %li
        %a{:href => "#"} Ayarlar
      %li
        %a{:href => "#exit"} Çıkış yap